# Any IDE files can be left out; these are just for Intellij IDEA for now
.idea/
out/
*.iml

# The git log doesn't need to be uploaded either
log.txt

# These are files I use for notes for myself
Abilities.txt
notes.txt